.app-heading {
    font-size: 20px;
    height: 50px;
    /* background-color: lightgrey; */
}
.home-container {
    width: 100%;
    position: absolute;
    /* height: 100%; */
    background-color: rgba(143, 188, 219, 0.749);
}
.content {
    float: left;
    width: 70%;
    display: inline-block;
    /* position: absolute; */
    /* padding-top: 180px; */
}
.water-usage-blocks-container{
    width: 100%;
    display: inline-block;
    height: 100%;
    float: left;
}
.plantImage {
    height: 100%;
    }
.bottomPane {
    height: 100%;
    width: 30%;
    background-color: #9afe78d1;
    top: 0;
    float: right;
    display: inline-block;
    position: absolute;
    right: 0;
}
.water-usage-block {
    width: 26%;
    height: 20%;
    display: inline-block;
    padding: 1%;
    text-align: center;
    max-width: 315px;
}
.shower-icon-circle {
    height: 100%;
    border-radius: 5%;
    margin: auto;
    padding-top: 25px;
    border: 1px solid transparent;
}
.shower-icon-circle:hover {
    border: 1px solid white;
    filter: drop-shadow(0px 4px 3px white);
    box-shadow: 0 0 5px 10px white;
}
.icon-circle {
    height: 100%;
    border-radius: 5%;
    margin: auto;
    padding-bottom: 25px;
    border: 1px solid transparent;
}
.app-logo {
    width: 39%;
    padding-top: 23px;
}
.image {
    height: 80%;
    width: 50%;
    padding: 2%;
}
.start-container {
    height: 250px;
    background-color: red;
}
.icons {
    display: inline;
    color: white;
}

.times {
    display: inline;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    font-size: 2.5vw;
}
.icon-circle:hover, .icons:hover, .times:hover {
    /* border: 1px solid white; */
    filter: drop-shadow(0px 4px 3px white);
    /* box-shadow: 0 0 5px 10px white; */
}
.progress-container {
    width: 100%;
    padding: 18px;
    background-color: #85ff60bf;
    bottom: 0;
    position: fixed;
}

.planterPot {
    width: 26vw;
    left: 2vw;
    position: absolute;
    height: 22vw;
    top: 2vw;
    border-radius: 16%;
    border: solid 1px black;
    }
.userStats {
    border: solid 1px black; */
    /* height: 100px; */
    /* width: 45%; */
    position: absolute;
    /* right: 30px; */
    /* top: 20px; */
    font-style: oblique;
    /* float: right; */
    border: 1px solid white;
    filter: drop-shadow(0px 2px 3px white);
    box-shadow: 0 0 3px 3px white;
}
svg {
    overflow: hidden;
    vertical-align: middle;
    height: 40px;
    width: 95%;
}
.custom-select {
    left: 2%;
    top: 4%;
    width: 120px;
    position: absolute;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    /* background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' heig…0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right .75rem center/8px 10px; */
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;   
}