.app-heading {
    font-size: 20px;
    height: 50px;
    /* background-color: lightgrey; */
}
.home-container {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #8fbcdbbf;
}
.content {
    width: 100%;
    height: 93%;
}
.water-usage-blocks-container{
    width: 80%;
    display: inline-block;
    height: 100%;
    float: left;
}
.water-usage-block {
    width: 30%;
    height: 30%;
    display: inline-block;
    padding: 4%;
    text-align: center;
}
.shower-icon-circle {
    height: 100%;
    border-radius: 5%;
    margin: auto;
    padding-top: 25px;
    border: 1px solid transparent;
}
.shower-icon-circle:hover {
    border: 1px solid white;
    filter: drop-shadow(0px 4px 3px white);
    box-shadow: 0 0 5px 10px white;
}
.icon-circle {
    height: 100%;
    border-radius: 5%;
    margin: auto;
    padding-bottom: 25px;
    border: 1px solid transparent;
}

.image {
    height: 80%;
}
.start-container {
    height: 80%;
    background-color: red;
}
.icons {
    display: inline;
    color: white;
}
.times {
    display: inline;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    font-size: 2.5vw;
}
.icon-circle:hover, .icons:hover, .times:hover {
    /* border: 1px solid white; */
    filter: drop-shadow(0px 4px 3px white);
    /* box-shadow: 0 0 5px 10px white; */
}
.progress-container {
    display: inline-block;
    width: 20%;
    background-color: cadetblue;
    height: 100%;
}
