.app-heading {
    font-size: 20px;
    height: 50px;
    /* background-color: lightgrey; */
}
.home-container {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: rgba(143, 188, 219, 0.749);
}
.content {
    width: 100%;
   
}
.water-usage-blocks-container{
    width: 80%;
    display: inline-block;
    height: 100%;
    float: left;
}
.plantImage {
    width: 100px;
    height: 100px;
    /* left: 20%; */
    /* position: fixed; */
    }
.bottomPane {
    position: absolute;
    bottom: 0px;
    height: 150px;
    width: 100%;
    background-color: #85ff60bf;
    border: 1px solid black;
    border-color: black; 
}
.water-usage-block {
    width: 30%;
    height: 30%;
    display: inline-block;
    padding: 4%;
    text-align: center;
}
.shower-icon-circle {
    height: 100%;
    border-radius: 5%;
    margin: auto;
    padding-top: 25px;
    border: 1px solid transparent;
}
.shower-icon-circle:hover {
    border: 1px solid white;
    filter: drop-shadow(0px 4px 3px white);
    box-shadow: 0 0 5px 10px white;
}
.icon-circle {
    height: 100%;
    border-radius: 5%;
    margin: auto;
    padding-bottom: 25px;
    border: 1px solid transparent;
}

.image {
    height: 80%;
    width: 35%;
}
.start-container {
    height: 250px;
    background-color: red;
}
.icons {
    display: inline;
    color: white;
}

.times {
    display: inline;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    font-size: 2.5vw;
}
.icon-circle:hover, .icons:hover, .times:hover {
    /* border: 1px solid white; */
    filter: drop-shadow(0px 4px 3px white);
    /* box-shadow: 0 0 5px 10px white; */
}
.progress-container {
    display: inline-block;
    width: 20%;
    padding: 8px;
    background-color: #85ff60bf;
    height: 100%;
}

.planterPot {
    width: 12%;
    
    height: 120px;
    float: left;
    top: 20px;
    border-radius: 15%;
    border: solid 1px black;
   
    }
.userStats {
    border: solid 1px black;
   height: 100px;
    width: 45%;
    position: absolute;
    right: 30px;
    top: 20px;
    font-style: oblique;
    float: right;
    border: 1px solid white;
    filter: drop-shadow(0px 2px 3px white);
    box-shadow: 0 0 3px 3px white;
}